h1 {
  color: #28a528;
  text-align: center;
}

h2 {
  font-style: normal;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
}

h5 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  text-align: left;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

.paragraph-border {
  border: 1px black dotted;
  padding: 5px;
}

.mode-button {
  float: right;
}

#change-mode {
  background-color: yellow;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .paragraph-border {
  border: 1px white dotted;
}

.dark-mode #change-mode {
  background-color: white;
}

/*
.dark-mode-background {
  background-color: black;
}

.dark-mode-font {
  color: white;
}
*/